/* Base Styles -------------------- */
* {
    box-sizing: border-box;
  }
  
body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    background-color: rgb(212, 178, 178);
  
    margin:0 auto;
}
h1 {
    font-size: 24px;
}

h2{
    text-align: center;
}
img {
    max-width: 100%;
    margin-bottom: 20px;
}


.group:after{
    content:"";
    display: table;
    clear: both;
}

img {
    max-width: 100%;
    margin-bottom: 20px;
}

a{
    text-decoration: solid;
    color: grey;
}

/* lists styles*/
li {
    list-style: none;

}

li a {
    display: block;
}
/*NAVIGATION */
.name {
    margin: 0;
    font-size: 2em;
}

.name a,
.main-nav a,
.intro { 
    display: inline-block;
    text-align: center;
}

.main-nav li{
    text-transform: uppercase;
    margin-bottom: 15px;
}

.main-nav {
    margin: 35px 20px;
}

.main-nav a {
    padding: 20px 40px;
}

.container{
    max-width:80%;
}

.profile-image{
    float: right;
    margin-left: 10px;
}

.main-header{
    background-color: orange;
}

.intro {
    margin: 15px 10px;
}

.intro p{
    text-align: left;
    line-height: 1.5;
}
/* ---- Navigation ---- */

/* Pseudo-classes ------------------ */

/* Main Styles --------------------- */

/* Layout Styles ------------------ */

.nav {
    background-color: mistyrose;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 20px;
}
/* Floated Columns ------------------*/

/*clearfix*/
.group::after{
    content:"";
    display: table;
    clear: both;
}

/***MEDIA QUERIES***/
 @media (min-width: 1024px) {
    
    .container{
        margin: 0 auto;
    }
    
    .main-header{
        text-align: center;
    }

    .main-nav a {
        padding: 10px 15px;
        margin-bottom: 20px;
        float: right;
        
    } 

    .nav a{
        display: inline;
    }

    .name{
        float: left;
    }
}

    @media (min-width: 768px) {
    
        .container {
            margin: 0 auto;
        }
    
        .main-header {
            text-align: center;
        }
    
        .main-nav {
            display: inline;
        }
    
        .main-nav li {
            text-align: center;
            display: inline;
        }
    
        .main-nav a {
            background-color: transparent;
            padding: 10px 15px;
        }
    
        .group:after{
            content:"";
            display: table;
            clear: both;
        }
        .name {
            float: center;
            
            }
     
        
        .nav a{
            display: inline-block;
        }
    
    
    
    }
    