/* Base Styles -------------------- */
* {
    box-sizing: border-box;
  }
  
body {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    background-color:rgb(245,245,245);
    margin: 0 auto;
}

h1 {
    font-size: 24px; 
}

h2{
    text-align: center;
    text-transform: uppercase;
}

h3{
    text-align: center;
}

img {
    max-width: 100%;
    margin-bottom: 20px;
}


.group:after{
    content:"";
    display: table;
    clear: both;
}

img {
    max-width: 100%;
    margin-bottom: 20px;
}

a { 
    text-decoration: solid;
    color: 	rgb(40,40,40);
}

a:hover{
    color:tomato;
}
a:active {
    color: #F0FFFF;
}

p {
    font-family: 'Quicksand', sans-serif;
}

.main-header a{
    color:	rgb(64,64,64);
}
/* lists styles*/
li {
    list-style: none;
}

li a {
    display: block;
}

main {
    margin:0 auto;
    padding-bottom: 2em;
}

footer{
    padding-bottom: 5px;
}

/****NAVIGATION****/
.name {
    margin: 0;
    font-size: 2em;
   
}

.name a,
.main-nav a,
.intro { 
    display: inline-block;
    text-align: center;
}

.main-nav li{
    text-transform: uppercase;
    margin-bottom: 15px;
}

.main-nav {
    margin: 35px 20px;
    
}

.main-nav a {
    padding: 20px 40px;
}

.container{
    max-width:90%;
    margin: o auto;
}

.profile-image {
    float: right;
    margin-left: 10px;
}

.portfolio-image {
    max-width: 100%;
}

.main-header,
.nav {
    background-color: 	rgb(245,245,245);
}

.intro {
    margin: 15px 0px;
}

.intro p{
    text-align: left;
    line-height: 1.5; 
}

.nav {
    background-color: rgb(236,236,236);
    margin-bottom: 15px;
    padding-top: 5px;
    padding-bottom: 20px;
}

.portfolio{
    margin-top: 0.5em;
    margin-bottom: 1.75em;
}

.container-portf{
    background-color:rgb(237, 239, 240); 
}

.container-portf h2 {
    padding-top: 1.2em;
}

.container-portf p {
    text-align: center;
    padding-bottom: 1em;
    line-height: 1.5;
}

.experience {
    background-color: gainsboro;
    margin-bottom: 15px;
}

.experience h2{
    padding-top: 1.2em;
}

.experience p {
    text-align: center;
    line-height: 1.5;
    padding-bottom: 1em;
}

.contact{
    background-color: whitesmoke;
    margin-bottom: 15px;
}

.contact h2 {
    padding-top: 1.2em;
}

.contact p {
    text-align: center;
    line-height: 1.5;
    padding-bottom: 1em;
}
.nav-footer {
    border-top: 1px solid grey;
    padding-top: 5px;
}



/***MEDIA QUERIES***/
@media (min-width: 768px) {
    body{ /****/
        padding:0px;
    }

    .container {
        margin: 0 auto;
        width: 100%;;
    }

    .main-header {
        text-align: center;
    }

    .main-nav {
        display: inline;
    }

    .main-nav li {
        text-align: center;
        display: inline;
    }

    .main-nav a {
        background-color: transparent;
        padding: 10px 15px;   
    }

    .profile-image {
        max-width: 50%;
    }
    .nav a{
        display: inline-block;
    }

    .porfolio-gallery{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    
    }

    .box {
        max-width: 45%;
        margin: 0 auto;
    }

    .nav-footer,
    .name{

        text-align: center;
    }

    .main-nav ul{
        float: left; 
    }

    
      
    .main-nav li{
       
       margin-left:12px;
        }
      
    

 @media (min-width: 1024px) {
    
    .container{
        margin: 0 auto;
        width: 100%;
    }
    .intro p {
        padding-top: 2em;
    }
    .container-portf
    .main-header{
        text-align: center;
    }

    .main-nav a {
        padding: 10px 15px;
        margin-bottom: 20px;

    } 

   .main-nav ul {
    float:left;
    }

    
    .nav a{
        display: inline;
    }

    .name{
        float: left;
        margin-top: 20px;
    }

    .porfolio-gallery{
        margin-top:10px;
    }

    .box {
        margin: 0 auto;
        max-width: 30%;
    }

    .main-nav{
        
        display: inline-block;
    }

    
}
}